/* Feuille de styles CSS */
body 
{
  background-color:black;
  background-image:url('');
  color: white;
font-family: 'Shadows Into Light', cursive;
}

header
{
  background-image:url('f97c980b8b7a8929395b72d841aa64fd.jpg');
}

header .row,
footer .row {
  color:white;
  background-color:silver;
background-image:url("");

h1 {
  color: white;
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}

figure {
  text-align:center;
}


ul {
  border: 1px solid dark;
  box-shadow: 6px 6px 0px white;
}


a:hover {
  font-weight:bold;
}
