/* Feuille de styles CSS */
body 
{
  background-color:none;
  background-image:url('297522-top-marble-wallpaper-1920x1080-for-samsung.jpg');
  color: white;
font-family: 'Shadows Into Light', cursive;
}

header
{
  background-image:url('');
}

header .row,
footer .row {
  color:white;
  background-color:silver;
background-image:url("");

h1 {
  color: white;
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}

figure {
  text-align:center;
}


ul {
  border: 1px solid dark;
  box-shadow: 6px 6px 0px white;
}


a:hover {
  font-weight:bold;
}
