/* Feuille de styles CSS */
body 
{
  background-color:none;
  background-image:url('wp3396912.jpg');
  color: black;
font-family:'Fredoka One', cursive;
}

header
{
  background-image:url('');
}

header .row,
footer .row {
  color:black;
  background-color:silver;
background-image:url("");

h1 {
  color: white;
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}
  
  h2 {
  color: red;
  background-image:url('R.jpg);
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}

figure {
  text-align:center;
}


ul {
  border: 1px solid dark;
  box-shadow: 6px 6px 0px white;
}


a:hover {
  font-weight:bold;
}
