/* Feuille de styles CSS */
body 
{
  background-image:url('');
  color: black;
  font-family: 'Anton', sans-serif;
}

h1 {
  color: black;
  font-size: 3em;
  font-family: 'Anton', sans-serif;
}

figure {
  text-align:center;
}


ul {
  border: 1px solid dark;
  box-shadow: 6px 6px 0px brown;
}


a:hover {
  font-weight:bold;
}
